<%- include('./partials/header.ejs')%> 

  <div class="main-content-area-container">
    <img class="bg-native-land" src="images/bg-native-land.png" alt="bg">
    <div class="text-container">
      <h1 class="preamble">Contact Us</h1><br>
      <h3>Please contact us via</h3><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>

<%- include('./partials/footer.ejs')%> 