<%- include('./partials/header.ejs')%> 

  <div class="main-content-area-container">
    <img class="bg-native-land" src="images/bg-native-land.png" alt="bg">
    <div class="text-container">
      <h1 class="preamble">Preamble</h1><br>
      <h3>“You have to know the past to understand the present.”</h3><br>
      <p>Native Land Forum preserves the prehistoric culture, customs and traditions,
        national history, and spiritual beliefs. These elements are core values that other
        forums mostly do not own at once. So, we are proud and confident to say that this
        forum can provide high-educated content and is suitable for all ages and classes.</p>
    </div>
  </div>

<%- include('./partials/footer.ejs')%> 

